body {
    margin: 0 0;
    padding: 0 0;
}

div {
    margin: 0 0;
    padding: 0 0;
}

.header {
    width: 100%;
    height: 30px;
    background: aqua;
}

.top {
    margin: 0 auto;
}

.main {
    width: 800px;
    height: 800px;
    margin: -16px auto;
    background: #ccc;
}

.foot {
    width: 100%;
    height: 30px;
    background: aquamarine;
}